* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
  background: black;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background: white;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  position: static;
}