* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 1px solid white;
  border-radius: 4px;
  padding: 15px 20px;
  width: 250px;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.form-control {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input,
textarea {
  display: block;
  width: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
}